@import '../../styles/shared.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.navLink {
  display: block;
  text-align: center;
  color: $title-color;
  text-transform: uppercase;
  cursor: pointer;
}

.navLink:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: $desktop) {
  .navItems {
    display: flex;
  }

  .navLink:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
